<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"href="/assets/images/logo.png">
    <title>404</title>
    <link rel="stylesheet" href="/styles/404.css ">
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <div id="box">
    <div id="main-container">
        <img src="/assets/images/parks and rec computer GIF.gif" alt="throwing the computer in the trash meme" />
        <h1>404</h1>
        <h2>Page not found!!!</h2>
    </div>
     <p>this is on us or you tried to access a page in unintended ways!</p>
     <p>click home on the navigation bar to return back to normal</p>
    </div>
</body>
</html>