<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"href="/assets/images/logo.png">
    <title>Crew</title>
    <style>
    img{
        height:100vh;
        width:100%;
    }
    </style>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <img src="/assets/images/crew.png">
</body>
</html>