<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
    <style>
        img{
            height:100vh;
            width:100%;
        }
    </style>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <img src="/assets/images/destinations.png" alt="destinations from turkey to a bunch of random places on world map, seriously idk where exactly we go, so i drew random arrows"/>
</body>
</html>