<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Founders</title>
    <style>
        img{
            height:100vh;
            width:100%;
        }
    </style>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <img src="/assets/images/Founders.png" />
</body>
</html>