<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"href="/assets/images/logo.png">
    <title>Airplane Roster</title>
    <link rel="stylesheet" href="styles\home.css">
</head>
<body>
    <div class="signin-wrapper">
        <div class="opaque-box">
            <img src="assets\images\logo.png" alt="Airplane Logo" class="logo">
            <h1>ğ˜¼ğ™£ğ™ªğ™©ğ™ ğ˜¼ğ™ğ™§ğ™¡ğ™ğ™£ğ™šğ™¨</h1>

            <div class="button-box">
                <button id="passenger-signin" onclick="window.location.href='/guest'">
                Continue as Passenger
                </button>
                <button id="employee-signin" onclick="window.location.href='/login'">
                 Sign In as Employee
                </button>
            </div>
        </div>
    </div>
</body>
</html>
