@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #02124e;
    color: white;
    min-height: 100vh;

    display: flex;
    flex-direction: column; 
    padding: 0; 
}

.field { 
    background: #c7640d; 
    padding: 8px 16px; 
    border-radius: 6px; 
    font-size: 1.4rem;
    width: auto; 
    min-width: 200px;
    text-align: left;
}

.flight-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; 
    max-width: 900px; 
    margin: 8% auto 40px;
    gap: 20px;
}

.section-title { 
    color: #ff8a02; 
    font-size: 24px; 
    margin-bottom: 0.5rem; 
    text-align: center; 
    align-self: center; 
}

.flight-card {
    background-color: #02193f; /* this #545e6f color is also nice if we add like a light background around the flight cards*/
    border: 3px solid #ff8a02;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px; 
    width: 100%;
    min-width: 570px;
    max-width: 570px;
    white-space: nowrap;
    cursor: pointer;
}

.group-airline {
    width: 15%; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

.center-section {
    display: flex;
    flex-direction: row;
    gap: 15px; 
    flex: 1; 
    justify-content: space-between; 
}

.info-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    text-align: left;
    gap: 4px; 
    width: 45%;
    flex-shrink: 0;
}

.info-col:first-child {
    margin-left: 50px;
}

.group-status {
    width: auto; 
    min-width: 80px; 
    display: flex; 
    justify-content: flex-end; 
}

.highlight {
    color: #ff8a02;
    font-weight: 700;
    line-height: 1.1;
}

.sub-text {
    margin-top:10px;
    color: #ff8a02;
    opacity: 0.8;
    font-weight: 400;
    line-height: 1.1;
}

.large { 
    font-size: clamp(18px, 2vw, 28px);
    margin-right:50px; 
}

.time  { 
    font-size: clamp(16px, 1.5vw, 22px); 
}

.duration {
    font-size: clamp(16px, 1.5vw, 22px); 
}


.date  {
    font-size: clamp(10px, 1vw, 12px); color: #ff8a02;
}

.route {
    font-size: clamp(10px, 1vw, 13px);
}

.status-text {
    color: #ff8a02;
    text-transform: uppercase;
    font-size: clamp(12px, 1.2vw, 16px);
    font-weight: 400;
}

button {
    background-color: #02193f;
    margin: 0px;
    border-radius:50%;
}

.input {
    background: transparent;
    border: 1px solid transparent;
    color: #FFFFFF;
    font-family: "Corben", serif;
    font-size: 16px;
    text-align: center;
    width: 100px;
    outline: none;
    cursor: text;
    border-bottom: 1px dashed #FF8A02;
}

input::placeholder {
    color:#FFFFFF;
}

input:focus::placeholder {
    color: transparent;
}

.search_error{
    display: none;
    text-align: center;
    color: white;
}

#search_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
#search_icon{
    width:20px;
    height:20px;
    display: block;
    cursor: pointer;
}

.back_link {
    color: #FF8A02;
    text-decoration: none;
    position: absolute;
    left: 2%;
    top: 10%;
}