* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    background-image: url(../assets/images/airplaneee.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signin-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

.opaque-box {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 40px;
    border-radius: 20px;
    border: 2px solid white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;  
    gap: 20px;           
    text-align: center;
    color: white;
}

.logo {
    width: 150px;
    height: auto;
    position: relative;
    bottom: -10px;
    right: 55px;
}

h1 {
    position: relative;
    bottom: 80px;
}

.button-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 0px;
}

.button-box button {
    width: 300px; 
    padding: 15px 0;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 0.7);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button-box button:hover {
    background-color: rgba(0, 123, 255, 0.9);
    transform: scale(1.05);
}