* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #02124e;
    color: white;
    min-height: 100vh;
}

.tabular-view {
    max-width: 1400px; 
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
}

.tab {
    padding: 15px 30px;
    color: #02124e;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid transparent;
    flex: 1; /* Tabs grow equally */
    text-align: center;
    max-width: 300px;
}

.tab.active {
    background-color: #ff8a02;
    font-weight: 500;
    border: 1px solid #02124e;
}

.tab:not(.active) {
    border: 1px solid #ccc;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-header {
    border-bottom: 2px solid #ff8a02;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.section-title {
    font-size: 36px;
    font-weight: 400;
    color: white;
    text-align: center; 
}

.data-table {
    display: flex;
    width: 100%;
    gap: 10px;
}

.data-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.column-header {
    background-color: #02124e;
    color: white;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #000;
    border-bottom: none;
    text-align: center;
    white-space: nowrap;
}

.column-body {
    background-color: white;
    height: 150px;
    border: 1px solid #000;
    color: black;
    padding: 15px;
}

.split-section-container {
    display: flex;
    gap: 40px;
    width: 100%;
}

.split-section-container .section {
    flex: 1;
}

@media (max-width: 1024px) {
    .split-section-container {
flex-direction: column;
    }
}

@media (max-width: 768px) {
    .data-table {
overflow-x: auto;
padding-bottom: 10px;
    }

    .nav-tabs {
flex-direction: column;
    }
     .tab {
max-width: 100%;
    }
}