<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="navbar_container">
        <div class="nav_upper_bar"></div>
        <div class="navbar_bg"></div>

        <div class="logo_container">
            <img src="assets/images/logo.png" alt="Anuti Airlines Logo" class="logo_img">
        </div>

        <a class="company_name" href="/">ğ˜¼ğ™£ğ™ªğ™©ğ™ ğ˜¼ğ™ğ™§ğ™¡ğ™ğ™£ğ™šğ™¨</a>
        <a class="nav_link nav_home" href="/">Home</a>
        <a class="nav_link nav_about">About Us</a>
        <a class="nav_link nav_tracker">Flight Tracker</a>
s
        <div class="nav_lower_bar"></div>
    </div>
</body>
</html>
