<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="navbar_container">
        <div id="nav_left">
            <div class="logo_container">
                <img src="/assets/images/logo.png" alt="Anuti Airlines Logo" class="logo_img">
            </div>
            <a class="company_name" href="/">ğ˜¼ğ™£ğ™ªğ™©ğ™ ğ˜¼ğ™ğ™§ğ™¡ğ™ğ™£ğ™šğ™¨</a>
            <div class="nav_links_group">
                <a class="nav_link" href="/">Home</a>
                <a class="nav_link" href="/about-us">About Us</a>
                <a class="nav_link" href="/guest">Flight Tracker</a>
                <% if(locals.logIn && logIn){ %>
                    <% if(staff){ %>
                        <% if(staff.role == 'Admin') { %>
                            <a class="nav_link" href="/admin/flight-list">Flight List</a>
                            <a class="nav_link" href="/admin/">Admin Select</a>
                        <% } else { %>
                            <a class="nav_link" href="/login/flight-list">Flight List</a>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div id="nav_profile_container">
            <% if(locals.logIn && logIn){ %>
                <% if (locals.downloadJSON && downloadJSON) { %> 
                    <a class="prof_link" href="/staff/flightJSON">Download File</a> 
                <% } %>
                <% if(staff){ %>
                    <div id="profile_circle">
                        <% if(staff.role == "Pilot"){ 
                            if(staff.gender == "Male"){ %>
                                <img src="\assets\images\male_pilot_icon.png" alt="Picture of a male pilot Icon">
                            <% } else { %>
                                <img src="\assets\images\female_pilot_icon.png" alt="Picture of a femalepilot Icon">
                            <% } %>
                        <% } else{ 
                            if(staff.gender == "Male"){ %>
                                <img src="\assets\images\male_cabin_crew_icon.png" alt="Picture of a male cabin_crew Icon">
                            <% } else { %>
                                <img src="\assets\images\female_cabin_crew_icon.png" alt="Picture of a female cabin_crew Icon">
                            <% } %>
                        <% } %>
                    </div>
                    <a class="prof_link" href="/staff/profile"><%= staff.first_name %> <%= staff.last_name %></a>
                <% } %> 
                <a class="prof_link" href="/">Log Out</a> 
            <% } %>
        </div>
    </div>
</body>
</html>
